* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', serif;
    background-color: #333;
}

.card {
    width: 400px;
    background-color: #ddd;
    border-radius: 8px;
    overflow: hidden;

    &__img {
        width: 100%;
    }

    &__body {
        padding: 10px 20px;
    }

    &__text {
        margin: 20px 0;
    }

    &__btns {
        display: flex;
        justify-content: space-evenly;
    }

    &__btn {
        border: 1px solid #000;
        border-radius: 8px;
        padding: 10px 20px;
        cursor: pointer;

        &--highlight {
            background-color: rgb(83, 175, 83);
        }
    }
}